In [1]:
import os
import pandas as pd
import numpy as np
import pylab as py
import warnings
import matplotlib.pyplot as plt
from  matplotlib import rc
from matplotlib.colors import LogNorm
from matplotlib import font_manager
import matplotlib
rc('font',**{'family':'sans-serif','sans-serif':['Helvetica']})
rc('text',usetex=True)
from scipy.interpolate import interp1d
from scipy.interpolate import make_interp_spline as spline
matplotlib.rcParams['text.latex.preamble']=[r"\usepackage{amsmath}"]
from matplotlib.ticker import ScalarFormatter,MaxNLocator,LogLocator,NullFormatter,FuncFormatter
warnings.filterwarnings('ignore')
import matplotlib.font_manager
from matplotlib.ticker import MultipleLocator, FormatStrFormatter,AutoMinorLocator
from matplotlib.pyplot import gca

In [2]:
pwd = os.getcwd()
#pwd = pwd + '/Nuclear-TMDs/plots'
path2dat = pwd + '/contour/example'
datalst = os.listdir(path2dat)

In [3]:
newdatalst = []
for address in datalst:
    if("PDF_" in address):
        print(address)
        newdatalst.append(address)

PDF_Au_Q0.csv
PDF_p_Q0.csv
PDF_NLO.f
PDF_Au_MZ.csv
PDF_Pb_Q0.csv
PDF_Au_10.csv
PDF_p_10.csv

In [7]:
p_df = pd.read_csv(path2dat + '/PDF_p_Q0.csv', delimiter = ',',delim_whitespace=True)
p_10_df = pd.read_csv(path2dat + '/PDF_p_10.csv', delimiter = ',',delim_whitespace=True)
Au_Q0_df = pd.read_csv(path2dat + '/PDF_Au_Q0.csv', delimiter = ',',delim_whitespace=True)
Pb_Q0_df = pd.read_csv(path2dat + '/PDF_Pb_Q0.csv', delimiter = ',',delim_whitespace=True)
Au_10_df = pd.read_csv(path2dat + '/PDF_Au_10.csv', delimiter = ',',delim_whitespace=True)

In [8]:
p_df[1769:1770]["up"] = np.float(p_df[1768:1769]["up"])+0.1
p_10_df[1769:1770]["up"] = np.float(p_10_df[1768:1769]["up"])+0.05
Au_Q0_df[1769:1770]["u"] = np.float(Au_Q0_df[1768:1769]["u"])+0.1
Au_10_df[1769:1770]["u"] = np.float(Au_10_df[1768:1769]["u"])+0.05
Pb_Q0_df[1769:1770]["u"] = np.float(Pb_Q0_df[1768:1769]["u"])+0.1

In [9]:
Au_Q0_df = Au_Q0_df.drop('d',axis =1)

In [13]:
Pb_Q0_df[1769:1770]

       kx   ky         u
1769  0.0  0.0  4.940935

In [12]:
Au_Q0_df[1769:1770]

       kx   ky         u    d
1769  0.0  0.0  4.954719  0.0

In [10]:
for i in range(len(p_df)):
    p_df["up"][i] = np.abs(p_df["up"][i])
    p_10_df["up"][i] = np.abs(p_10_df["up"][i])
    Au_Q0_df["u"][i] = np.abs(Au_Q0_df["u"][i])
    Au_10_df["u"][i] = np.abs(Au_10_df["u"][i])

In [11]:
p_df.to_csv('TMD_Data/p_lo.csv', header = False, index = False)
p_10_df.to_csv('TMD_Data/p_hi.csv', header = False, index = False)
Au_Q0_df.to_csv('TMD_Data/Au_lo.csv', header = False, index = False)
Au_10_df.to_csv('TMD_Data/Au_hi.csv', header = False, index = False)

In [14]:
Pb_Q0_df.to_csv('TMD_Data/Pb_lo.csv', header = False, index = False)